body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
}

* {
  box-sizing: border-box;
}
html, body {
  height: 100%; /* Faz o html e o body ocuparem 100% da altura da janela */
  margin: 0;
  padding: 0;
}
